body {
    margin: 0;
    padding: 0;
    font-family: 'Fira Sans', sans-serif;
    display: block;
}

a {
    text-decoration: none;
    color: black;
}

img {
    max-width: 100%;
}

.individual_window {
    display: grid;
    margin-left: 0px;
    grid-template-columns: .8fr 1fr 1.6fr;
    grid-column-gap: 1em;
    margin-top: 90px;
}

.white {
    background-color: white;
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.title {
    margin-left: 30px;
}

.name {
    font-family: 'DM Serif Display', serif;
    font-size: 50px;
    padding: 0;
    margin: 0;
    margin-left: 20px;
}

.individual_line {
    background-color: #F9DB30;
    height: 7px;
    position: fixed;
    width: 100px;
    padding: 0 0 0 0;
}

.individual_column_1 {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap: 1em;
}

.individual_row_1 {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 1em;
    margin-top: 20px;
    height: 200px;
    width: 300px;
    margin-left: 50px;
}

.individual_description {
    height: 300px;
}

.project_details {
    align-content: right;
}

.menu {
    margin-top: 30px;
    text-align: center;
}

.menu_option {
    margin-left: 5vw;
    text-align: center;
    font-weight: 200;
}

b {
    border-bottom: #F9DB30 solid 5px;
    line-height: 2em;
}

p {
    margin-top: 0;
}

.animatedFromCenter,
.animatedFromRight,
.animatedFromLeft {


  /* THE ELEMENT NEEDS TO BE INLINE-BLOCK FOR THE SIZING TO WORK */
  display: inline-block;
}

.animatedFromCenter:after,
.animatedFromRight:after,
.animatedFromLeft:after {
  display: block;
  content: "";

  /* THIS IS THE FINAL SIZE AND COLOR THAT THE BORDER WILL BE */
  border-bottom: solid 5px #f1cf0c;
  transform: scaleX(0);

  /* THIS IS THE SPEED WITH WHICH IT ANIMATES */
  transition: transform 250ms ease-in-out;
}

.animatedFromCenter:hover:after {
  transform: scaleX(1);
}

.animatedFromLeft:hover {
  transform-origin: 0% 50%;
}
.animatedFromLeft:hover:after {
  transform: scaleX(1);
  transform-origin: 0% 50%;
}

.animatedFromRight:hover {
  transform-origin: 100% 50%;
}
.animatedFromRight:after {
  transform-origin: 0% 50%;
}
.animatedFromRight:hover:after {
  transform: scaleX(1);
  transform-origin: 100
}

.photo {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.individual_column_2 {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 1em;
}

.individual_hero {
    background-image: url(img/jazzArtboard3.png);
    background-size: inherit;
    background-repeat: no-repeat;
    margin-top: 1em;
    margin-left: 365px;
}

/* ----------- TABLETS ----------- */
@media only screen and (min-width: 800px) and (max-width: 1280px) {


.name {
    font-family: 'DM Serif Display', serif;
    font-size: 40px;
}

.individual_window {
    grid-template-rows: 1fr;
}

.individual_column_1 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.individual_row_1 {
    display: block;
}

.photo {
    display: block;
    margin-top: 1em;
    height: auto;
}

.individual_hero {
    margin-left: 0;
}

.individual_description {
    height: auto;
    display: block;
}
}

/* ----------- SMART PHONES ----------- */
@media only screen and (max-width: 800px) {

.name {
    font-size: 30px;
}

.individual_column_1 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.individual_window {
    display: block;
}

.individual_row_1 {
    display: block;
}

.individual_hero {
    display: block;
    margin-left: 0;
}

.individual_description {
    height: auto;
    display: block;
}

.photo {
    margin-top: 1em;
}

}