body {
    margin: 0;
    padding: 0;
    font-family: 'Fira Sans', sans-serif;
    overflow-x: scroll;
    overflow-y: hidden;
    display: block;
}

a {
    text-decoration: none;
    color: black;
}

.window {
    width: 3000px;
    margin-top: 0px;
    margin-left: 0px;
}

.name {
    font-family: 'DM Serif Display', serif;
    font-size: 50px;
    padding: 0;
    position: fixed;
    top: 20px;
    left: 50px;
    display: block;
    margin: 0;
}

.line {
    background-color: #F9DB30;
    height: 7px;
    width: 100px;
    padding: 0 0 0 0;
    margin-left: 70px;
    margin-top: 90px;
}

.works {
    display: grid;
    grid-template-columns: 1fr .75fr 1.5fr 1fr 1fr .75fr 1fr 1fr;
    grid-column-gap: 1em;
    margin-left: 5vw;
    margin-top: 1vh;
    height: 87vh;
}

.menu {
    text-align: center;
}

.menu_option {
    margin: auto;
    text-align: center;
    font-weight: 200;
}

.title {
    margin-top: 0px;
    margin-bottom: 0px;
}

.group_title {
    font-size: 25px;
    font-family: 'DM Serif Display', serif;
}

.upper {
    padding-top: 10px;
    height: 100%;
}

.two_up {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 2fr;
    margin-top: 10px;
    height: 100%;
}

.mid {
    margin-top: 5vh;
    height: 100%;
}

.mid .title {
    height: 20%;
}

.mid .photo {
    height: 80%;
}

.lower {
    margin-top: 10vh;
    height: 100%;
}

.upper .title {
    height: 10%;
}

.upper .image {
    height: 90%;
}

div {
    margin: 20px;
}

.project_2 {
    height: 100%;
}

.photo {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 15px;
    margin-left: 20px;
    height: 100%;
}

.photo_1 {
    background-image: url(img/jazzArtboard1.png);
    height: 58%;
}

.photo_2 {
    background-image: url(img/tea_Artboard2copy.png);
    height: 62%;
}

.photo_3_1 {
    background-image: url(img/honigSquare_2.jpg);
    height: 80%;
}

.photo_3_2 {
    background-image: url(img/challengingArtboard2.png);
    height: 80%;
}

.photo_4 {
    background-image: url(img/brittsArtboard2.png);
    height: 90%;
}

.photo_5 {
    background-image: url(img/ksu_senior_mock_up.jpg);
    height: 60%;
}

.photo_6 {
    background-image: url(img/openstreets_join_us01.png);
    background-position: center left;
    height: 60%;
}

.photo_7 {
    background-image: url(img/jazzArtboard1.png);
    height: 90%;
}

.photo_8 {
    background-image: url(img/FAFKCiphone_mock.png);
    background-position: center left;
    height: 60%;
}

.animatedFromCenter,
.animatedFromRight,
.animatedFromLeft {


  /* THE ELEMENT NEEDS TO BE INLINE-BLOCK FOR THE SIZING TO WORK */
  display: inline-block;
}

.animatedFromCenter:after,
.animatedFromRight:after,
.animatedFromLeft:after {
  display: block;
  content: "";

  /* THIS IS THE FINAL SIZE AND COLOR THAT THE BORDER WILL BE */
  border-bottom: solid 5px #f1cf0c;
  transform: scaleX(0);

  /* THIS IS THE SPEED WITH WHICH IT ANIMATES */
  transition: transform 250ms ease-in-out;
}

.animatedFromCenter:hover:after {
  transform: scaleX(1);
}

.animatedFromLeft:hover {
  transform-origin: 0% 50%;
}
.animatedFromLeft:hover:after {
  transform: scaleX(1);
  transform-origin: 0% 50%;
}

.animatedFromRight:hover {
  transform-origin: 100% 50%;
}
.animatedFromRight:after {
  transform-origin: 0% 50%;
}
.animatedFromRight:hover:after {
  transform: scaleX(1);
  transform-origin: 100% 50%;
}

/* ----------- TABLETS ----------- */
@media only screen and (min-width: 800px) and (max-width: 1280px) {

}

/* ----------- SMART PHONES ----------- */
@media only screen and (max-width: 800px) {

    .works {
        height: 75vh;
    }
}