body {
    padding: 0;
    margin: 0;
}

.menu {
    background-color:#02459D;
    height: 5vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1em;
}

.logo {
    background-color:#61ADEF;
    height: 3vw;
    width: 12vw;
    margin-left: 7vw;
    margin-top: 1vw;
}

.menu_right {
    display: grid;
    grid-template-columns: .5fr 1fr .75fr .75fr 2fr;
    grid-column-gap: .3em;
    margin-right: 30px;
}

.tab {
    background-color:#61ADEF;
    height: 1.5vw;
    margin-top: 1.5vw;
}

.search {
    background-color: #61ADEF;
    height: 1.5vw;
    margin-top: 1.5vw;
    
}

.hero_image {
    background-color: #02459D;
    position: relative;
    height: 40vw;
}

.hero_text {
    background-color: #61ADEF;
    position: absolute;
    height: 5vw;
    width: 40vw;
    right: 500px;
    bottom: 250px;
}

.main {
    display: block;
}

.latest {
    background-color: #02459D;
    margin: auto;
    height: 5vw;
    width: 30vw;
    margin-top: 20px;
    margin-bottom: 20px;
}

.shop {
    display: grid;
    width: 90vw;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: .5em;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: .5em;
    margin: auto;
    margin-top: 50x;
}

.item {
    background-color: #02459D;
    height: 400px;
    position: relative;
}

.title {
    background-color: yellow;
    position: absolute;
    height: 2vw;
    width: 20vw;
    right: 15px;
    bottom: 20px;
}

.row_3 {
    display: grid;
    width: 90vw;
    grid-template-columns: 1fr 1fr;
    column-gap: .5em;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.image {
    background-color: #02459D;
    height: 800px;
}

.about {
    background-color: #61ADEF;
    margin: auto;
    height: 5vw;
    width: 30vw;
    margin-top: 20px;
    margin-bottom: 40px;
}

.local_content {
    display: grid;
    width: 90vw;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 1em;
    grid-template-rows: 300px 300px;
    grid-row-gap: 1em;
}

.content {
    background-color: #02459D;
    height: 300px;
}

.footer {
    background-color: #02459D;
    margin-top: 50px;
    width: 100vw;
    height: 200px;
}
