body {
    padding: 0;
    margin: 0;
}

.super_menu {
    background-color: #FFBE45;
    height: 2vw;
}

.profile {
    background-color: #DDA43A;
    height: 2vw;
}

.main {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-column-gap: 1em;
}

.profile_picture {
    background-color: #DDA43A;
    height: 12vw;
    width: 12vw;
    margin: auto;
    margin-bottom: 15px;
    margin-top: 30px;
}

.general_information {
    background-color: #DDA43A;
    height: 35vw;
    width: 25vw;
    margin: auto;
}

.right_summary {
    background-color: #DDA43A;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2em;
    margin-top: 50px;
    height: 42vw;
}

.left {
    background-color: #DDA43A;
    grid-template-columns: 1fr;
    column-gap: 1em;
    padding-left: 20px;
}

.academics {
    background-color: #FFBE45;
    height: 12vw;
    margin-top: 150px;
}

.academics_2 {
    background-color: #FFBE45;
    height: 3vw;
    margin-top: 30px;
}

.contacts {
    background-color: #FFBE45;
    height: 7vw;
    margin-top: 70px;
}

.right {
    background-color: #DDA43A;
    grid-template: 1fr;
    padding-right: 20px;
}

.appointments {
    background-color: #FFBE45;
    height: 10vw;
    margin-top: 150px;
}