body {
    margin: 0;
    padding: 0;
    background-color: aqua;
    font-family: 'Fira Sans', sans-serif;
    overflow-x: scroll;
    overflow-y: hidden;
    display: block;
}

.window {
    width: 150vw;
    background-color: grey;
    margin-top: 6vw;
    margin-left: 0px;
}

.title {
    font-family: 'DM Serif Display', serif;
    font-size: 25px;
    padding: 0;
    margin-bottom: 10px;
    position: fixed;
    top: 2vw;
    left: 4vw;
    display: block;
}