<!-- start of partials/header -->
<div class="white">
    <div class="title">
        <div class="name">About Me</div>
        <div class="line"></div>
    </div>
    <div class="menu">
        <a class="menu_option animatedFromCenter" href="testindex.html">Works</a>
        <a class="menu_option animatedFromCenter" href="">Photography</a>
        <a class="menu_option animatedFromCenter" href="about.html">About Me</a>
    </div>
</div>
<!-- end of partials/header -->